# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
List of some popular languages for Data Science:
- Python
- SQL
- R
- VBA (Visual Basic for Applications)
- Julia
- JavaScript
- Java
- Scala
- SAS

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. VBA (Visual Basic for Applications)
5. Julia
6. JavaScript
7. Java
8. Scala
9. SAS
10. MATLAB
11. C/C++
12. Swift

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy
6. Scikit-Learn
7. TensorFlow
8. Matplotlib
9. Seaborn
10. Theano

| Data Science Tools |
| ----- |
| Tableau |
|Jupyter Notebook|
|Python|
|SAS|
|TensorFlow|
|Apache Spark|
|R|
|Matplotlib|
|Scikit-learn|
|MATLAB|
|KNIME|
|PyTorch|
|Apache Hadoop|
|Microsoft Power BI|
|SQL|
|Keras|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to multiply then add integers.
x=((3*4)+5)
print (x)

17

In [13]:
#This will convert 200 minutes to hours by dividng by 60.
x=200/60
print (x, " hours")

3.3333333333333335  hours

## Author
Christo Thomas